numpy~=1.19.5
PyAudio~=0.2.11
pyttsx3~=2.88
vosk~=0.3.45
opencv-python~=4.5.5.64
dlib~=19.8.1
pyzbar~=0.1.9
Pillow~=8.4.0
torch~=1.10.2
torchvision~=0.11.3
tqdm~=4.64.1
tensorflow~=2.6.1
dataclasses~=0.8
resampy~=0.4.3
soundfile~=0.13.1